{:tasks
 {sha
  (let [sha (-> (shell {:out :string} "git rev-parse HEAD")
                (:out)
                (clojure.string/trim))
        file "public/index.html"]
    (-> (slurp file)
        (clojure.string/replace "$GIT_SHA" sha)
        (->> (spit file))))

  dev-notebook
  (do (shell "npm install")
      (shell "npm run watch-clerk"))

  publish-gh-pages
  (do (shell "npm ci")
      (shell "npm run release-clerk")
      (shell "clojure -X:dev:nextjournal/clerk user/github-pages!")
      (run 'sha)
      (spit "./public/CNAME" "mathbox.mentat.org"))

  publish-local
  (do (run 'publish-gh-pages)
      (shell "npm run serve"))

  release-storybook
  (do (shell "npm ci")
      (shell "npm run release-stories"))

  release-gh-pages
  (do (run 'publish-gh-pages)
      (run 'release-storybook))

  release
  (shell "clojure -T:build publish")

  lint
  (shell "clj-kondo --lint src:dev")}}
