{:paths ["src"]
 :deps {reagent/reagent {:mvn/version "1.1.0"}}

 :aliases
 {:dev
  {:extra-deps
   {org.clojure/clojurescript {:mvn/version "1.11.60"}
    thheller/shadow-cljs {:mvn/version "2.20.14"}}}

  :nextjournal/clerk
  {:extra-paths ["dev"]
   :extra-deps
   {io.github.nextjournal/clerk
    {:git/sha "5cf3982b29c25a6fe70ee4d4444293c5320ff697"}
    io.github.nextjournal/clerk.render
    {:git/url "https://github.com/nextjournal/clerk"
     :git/sha "5cf3982b29c25a6fe70ee4d4444293c5320ff697"
     :deps/root "render"}
    io.github.mentat-collective/clerk-utils
    {:git/sha "4c3a7653e24d609e6d04ed575162dd7eccb828c9"}
    io.github.mentat-collective/leva.cljs
    {:git/sha "5ed1214ef6fbf824090cb3c134ae41da70510f38"}}
   :exec-fn user/garden!}

  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.8.2" :git/sha "ba1a2bf"}
          slipset/deps-deploy {:mvn/version "0.2.0"}}
   :ns-default build}}}
