body,
html,
#root {
    height: 100%;
}

.h-100 {
    height: 100%;
}

form {
    width: 400px;
    z-index: 10;

    position: absolute;
    top: 0px;
    left: 0px;

    background-color: #eee;

    display: grid;
    grid-template-columns: auto auto 1fr;
    column-gap: 1rem;
}
